<div class="header">
    <div class="banner">
        <p>Free shipping on purchases over 200$ !</p>
    </div>
    <div class="header__header">
        <div class="header__header__icons">
            <div>
                <img class="icon" src="https://freesvg.org/img/abstract-user-flat-1.png" alt="my-account" (click)="navToAccount()">
                <p>{{user == 'null null'? "login" : user}}</p>
                <a (click)="logout()" *ngIf="user !== 'null null'">Logout</a>
            </div>
            <div>
                <img class="icon" src="https://freesvg.org/img/grocery-15.png" alt="my-cart" (click)="navToCart()">
                <p>Cart</p>
            </div>
        </div>
        <div></div>
        <div class="header__logo">
            <p routerLink="products-list">OnlineStore</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <ul class="header__nav">
            <li><a href="">Home</a></li>
            <li><a routerLink="/products-list/7">Earings</a></li>
            <li><a routerLink="/products-list/8">Bracelets</a></li>
            <li><a routerLink="/products-list/9">Necklaces</a></li>
            <li><a routerLink="/products-list/10">Rings</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>

</div>