<section>
    <div class="form-container">
        <h2>{{isUpdate? 'Update product' : 'Add product'}}</h2>
        <form [formGroup]="productForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" id="name" type="text" formControlName="name">
            </div>
            <div class="form-group">
                <label for="description">Description: </label>
                <input class="form-control" id="description" type="text" formControlName="description">
            </div>
            <div class="form-group">
                <label for="category">Category: </label>
                <select class="form-select" formControlName="category">
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input class="form-control" id="price" type="number" formControlName="price">
            </div>
            <div class="form-group">
                <label for="discount">Discount: </label>
                <select class="form-select" formControlName="discount">
                    <option value="0">No discount</option>
                    <option *ngFor="let discount of discounts" value="{{discount.id}}">{{discount.name}} : {{discount.discountPrec}}%</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image">Image: </label>
                <input class="form-control" type="text" id="image" formControlName="image">
            </div>
            <div>
                <button (click)="addProduct()" class="btn btn-primary">{{isUpdate? 'Update product' : 'Add product'}}</button>
            </div>
        </form>

    </div>
</section>