<section>
    <div>
        <form [formGroup]="productForm">
            <div>
                <label for="name">Name:</label>
                <input id="name" type="text" formControlName="name">
            </div>
            <div>
                <label for="description">Description: </label>
                <input id="description" type="text" formControlName="description">
            </div>
            <div>
                <label for="category">Category: </label>
                <select formControlName="category">
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
            <div>
                <label for="inventory">Inventory: </label>
                <select formControlName="inventory">
                    <option value="50">50 Q</option>
                    <option value="75">75 Q</option>
                    <option value="100">100 Q</option>
                </select>
            </div>
            <div>
                <label for="price"></label>
                <input id="price" type="number" formControlName="price">
            </div>
            <div>
                <label for="discount">Discount: </label>
                <select>
                    <option value="0">No discount</option>
                    <option *ngFor="let discount of discounts" value="{{discount.id}}">{{discount.name}} : {{discount.discountPrec}}%</option>
                </select>
            </div>
            <div>
                <label for="image">Image: </label>
                <input type="text" id="image" formControlName="image">
            </div>
            <div>
                <label>Sizes: </label>
                <fieldset>
                    <div *ngFor="let size of sizes">
                        <input id="size" type="checkbox" value="{{size.id}}">
                        <label for="size">{{size.name}}</label>
                    </div>
                </fieldset>
            </div>
        </form>

    </div>
</section>