<div  class="login-container">
    <div class="error-message">
        <p>{{errorMessage}}</p>
    </div>
    <form [formGroup]="login">
        <div class="form-group">
            <label for="userName">Username</label>
            <input class="form-control" type="text" id="userName" formControlName="userName">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" formControlName="password">
        </div>
        <div class="form-group">
            <label for="fName">First name</label>
            <input type="text" id="fName" class="form-control">
        </div>
        <div>
            <label for="lName">Last name</label>
            <input type="text" id="lName" class="form-control">
        </div>
        <div class="form-group">
            <label for="telephone">Phone number</label>
                <input type="text" id="telephone" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit" (click)="loginUser()">{{isSignUp?'Register': 'Login'}}</button>
        <button *ngIf="!isSignUp" class="sign-up btn btn-primary" (click)="switchToSignUp()">sign up</button>
      

    </form>
</div>